<form>
    <table class="table" >
        <tbody>
        <tr>
            <th>View Status</th>
            <td>{{CurUser.viewStatus}}</td>
            <th>Primary Relation</th>
            <td>{{CurUser.relationCode}}</td>
        </tr>
        <tr>
            <th>Mail Server</th>
            <td>{{CurUser.mailServer}}</td>
            <th>College</th>
            <td>{{CurUser.college}}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{CurUser.firstName}}</td>
            <th>Last Name</th>
            <td>{{CurUser.lastName}}</td>
        </tr>
        <tr>
            <th>Prefix</th>
            <td>{{CurUser.prefix}}</td>
            <th>Suffix</th>
            <td>{{CurUser.suffix}}</td>
        </tr>
        <tr>
            <th>Middle Name</th>
            <td>{{CurUser.middleName}}</td>
            <th>Nick Name</th>
            <td>{{CurUser.nickName}}</td>
        </tr>
        <tr>
            <th>Maiden Name</th>
            <td>{{CurUser.maidenName}}</td>
            <th>Birth Date</th>
            <td>{{CurUser.birthDate}}</td>
        </tr>
        <tr>
            <th>SSN (last four)</th>
            <td>{{CurUser.ssn}}</td>
            <th>Gender</th>
            <td>{{CurUser.gender}}</td>
        </tr>
        <tr>
            <th>Primary Instance ID</th>
            <td>{{CurUser.instanceID}}</td>
            <th>Primary Relation Detail</th>
            <td>{{CurUser.relationDetailCode}}</td>
        </tr>
        <tr>
            <th>Account Registered On</th>
            <td>{{CurUser.accountRegisteredOn}}</td>
            <th>netID Password Last Changed</th>
            <td>{{CurUser.netIDPWLastChange}}</td>
        </tr>
        <tr>
            <th>Kerberos Auto-Lock Reset Time</th>
            <td>{{CurUser.kerberosAutoLockResetTime}}</td>
            <th>Kerberos Failed Password Attempts</th>
            <td>{{CurUser.kerberosFailedPWAttempts}}</td>
        </tr>
        <tr>
            <th>Kerberos Last Authentication Failure</th>
            <td>{{CurUser.kerberosLastAuthFailure}}</td>
            <th>Kerberos Auto-Lock Status</th>
            <td>{{CurUser.kerberosAutoLockStatus}}</td>
        </tr>
        </tbody>
    </table>
</form>
