<form>
    <table class="table" >
        <tbody>
        <tr class="row mx-0">
            <th class="col-3">Instance ID</th>
            <th class="col-3">Rice ID</th>
            <th class="col-3">Status</th>
            <th class="col-3">Source</th>

        </tr>
        <tr class="row mx-0">
            <td class="col-3">{{CurUser.instanceID}}</td>
            <td class="col-3">{{CurUser.riceID}}</td>
            <td class="col-3">{{CurUser.recordStatus}}</td>
            <td class="col-3">{{CurUser.Source}}</td>
        </tr>
        </tbody>
    </table>
</form>
