<sb-layout-auth
    >
    <div class="topnav navbar navbar-expand shadow navbar-light bg-light-gray">
        <img src = "../../../../assets/login/test.png"  height="40%" class="ml-1">
        <h5 class="ml-3" routerLink="/dashboard"  >My Identity</h5></div>
    <div class="container">
        <div class="row justify-content-center mt-10">
            <div class="col-md-6 col-md-offset-3">
<!--            <div class="col-lg-5">-->
                <div class="card shadow-lg border-0 rounded-lg mt-30">
                    <div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Password Recovery</h3></div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label><input class="form-control py-4" id="inputEmailAddress" data-cy="emailInput" type="email" placeholder="Enter email address" aria-describedby="emailHelp" formControlName="email" [class.is-valid]="emailControlValid" [class.is-invalid]="emailControlInvalid" />
                                <div class="invalid-feedback" *ngIf='emailControl.hasError("required")'>Email required.</div>
                                <div class="invalid-feedback" *ngIf='emailControl.hasError("email")'>Email is not valid.</div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" routerLink="/auth/login">Return to login</a><button class="btn btn-primary" data-cy="resetPasswordButton" type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
><ng-template #confirmationModal let-modal
    ><div class="modal-header">
        <h5 class="modal-title">Forgot Password Form Data</h5>
        <button class="close" type="button" aria-label="Close" (click)='modal.dismiss("Cross click")'><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        Wired up and ready to go. Just add a backend. <br /><br />
        email: <code>{{forgotPasswordForm.value.email}}</code>
    </div>
    <div class="modal-footer"><button class="btn btn-secondary" type="button" (click)="modal.close()">Close</button><button class="btn btn-primary" type="button" (click)='modal.close("DASHBOARD")'>Proceed back to Dashboard</button></div></ng-template
>
