<sbpro-dashboard-head icon="file" title="Account" description="Detailed information"></sbpro-dashboard-head>
<div class="container-fluid mt-n10">
    <sbpro-card
    ><div class="card-header">Person Data</div>
        <div class="card-body" style="overflow-x:scroll;"><sbpro-person-data-table></sbpro-person-data-table></div>
    </sbpro-card
    >
    <sbpro-card
    ><div class="card-header">Instance Data</div>
        <div class="card-body" style="overflow-x:scroll;"><sbpro-instance-data-table></sbpro-instance-data-table></div>
    </sbpro-card
    >
    <sbpro-card
    ><div class="card-header"><div class="col-10">Default Data</div> <div class="col-2">
        <button class="btn btn-outline-primary active">View Key Vault</button></div></div>
        <div class="card-body" style="overflow-x:scroll;"><sbpro-default-data-table></sbpro-default-data-table></div>
    </sbpro-card
    >
    <sbpro-card
    ><div class="card-header"><div class="col-10">Account Data</div> </div>
        <div class="card-body" style="overflow-x:scroll;"><sbpro-account-data-table></sbpro-account-data-table></div>
    </sbpro-card
    >
</div>
