// This file is intentionally blank
// Use this file to override any color variables within the project
// You can also replace this file with a file exported from the customizer, which you can access
// from the widget at https://themes.startbootstrap.com/sb-admin-pro/
$blue: #00205B;
$gray: #7C7E7F;
$lightGray: #E0E2E6;
$mediumBlue: #4D9AD4;
$lightBlueGray: #ADC7DC;

$primary: $blue;
$secondary: $gray;
