<form>
    <table class="table" >
        <tbody>
        <tr class="row mx-0">
            <th class ="col-3">Account ID</th>
            <th class ="col-3">Name</th>
            <th class ="col-3">Unix UID</th>
            <th class ="col-3">Primary Email</th>

        </tr>
        <tr class="row mx-0">
            <td class ="col-3">{{CurUser.account}}</td>
            <td class ="col-3">{{CurUser.Name}}</td>
            <td class ="col-3">{{CurUser.UnixUID}}</td>
            <td class ="col-3">{{CurUser.primaryEmail}}</td>
        </tr>
        </tbody>
    </table>
</form>

