<footer class="footer mt-auto" [ngClass]='{"footer-light": !dark, "footer-dark": dark}'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 small" > <p>Copyright &copy; Rice University 2020</p></div>
            <div class="col-md-6  text-md-right small">
                <a  [routerLink]="">Privacy Policy   </a>
                <a  [routerLink]=""> Terms &amp; Conditions</a>
<!--                <div class="row">-->
<!--                    <div class="col-md-5  font-weight-100">-->
<!--                        <a  [routerLink]="">Privacy Policy   </a>-->
<!--                    </div >-->
<!--                    <div class="col-md-3 font-weight-100">-->
<!--                        <a  [routerLink]=""> Terms &amp; Conditions</a>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</footer>
